services:
  sd-turbo:
    build:
      context: .
      dockerfile: local-Dockerfile
    image: makelab/text-to-image:local
    container_name: sd-turbo-server
    
    # GPU support
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    
    ports:
      - "${PORT}:${PORT}"
    
    env_file:
      - .env
    
    volumes:
      - model-cache:${HF_HOME}
      - ./models:/app/models
    
    restart: unless-stopped

volumes:
  model-cache: