# docker compose -f docker/sd-turbo-docker-compose.yml up -d

services:
  sd-turbo:
    image: makelab/text-to-image:sdxl-turbo
    container_name: sd-turbo-server
    
    # GPU support
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    
    ports:
      - "5555:5555"
    
    restart: unless-stopped

volumes:
  model-cache: